.main-forum-container {
  display: flex;
  justify-content: space-evenly;
}
.question-forum-container {
  width: 700px;
  margin: 20px;
  border: 2px solid white;
  text-align: left;
  padding: 15px;
  background-color: inherit;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.answer-forum-container {
  height: 400px;
  border: 2px solid white;
  margin-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.anonymous-question {
  padding-left: 15px;
  /* background-color: #63cdf1; */
  padding-bottom: 5px;
  padding-top: 10px;
  min-height: 110px;
}

.notifications-container {
  display: flex;
  width: 30%;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.single-notification {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  color: white;
}
