.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 100vh;
  background-color: hsl(220, 90%, 59%);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
